.navbar {
  position: fixed;
  top: 0; /* Stick to the top of the screen */
  left: 0;
  width: 100%;
  z-index: 1000; /* Higher than progress bar */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px; /* adjust based on your design */
}


.navbar-inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.left{
display: flex;
  align-items: center;
  gap: 1rem;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 120px;
  flex-grow: 1; /* Ensure space for the button */
}
.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hamburger {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
  color: #333; /* Or #fff depending on your theme */
  cursor: pointer;
  padding: 8px;
  margin-right: 12px;
}


.search-box {
  width: 300px;
  padding: 6px 10px;
  border: 1.5px solid #00CED1;
  border-radius: 10px;
  background-color: #ffffff
  ;
}

.logout-btn {
  font-size: 15px;
  padding: 6px 12px;
  background-color:#00CED1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0px;
}
.logout-btn:hover {
  background-color: #64d8da;
}
